configs:
  secret:
    argocdServerAdminPasswordMtime: 2021-11-08T15:04:05Z
  cm:
    application.resourceTrackingMethod: annotation
    timeout.reconciliation: 60s
  params:
    server.insecure: true
server:
  ingress:
    enabled: true
    ingressClassName: traefik
    hostname: ''
  extraArgs:
  - --insecure
